@import '_variables.scss';

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;


    @media (width <= 1024px) and (orientation: portrait) {
        width: calc(100% - 57px);
        flex: 1;
    }

    @media (width <= 430px) {
        width: 100%;
        justify-content: space-between;
        flex: 1;
    }

    @media only screen 
    and (max-width: 450px) 
    and (min-height: 840px)
    and (-webkit-min-device-pixel-ratio: 2.2)
    and (orientation: portrait) {
        width: 100%;
        justify-content: space-between;
        flex: 1;
    }

    h2 {
        font-size: 3.6rem;
        font-family: $secondary-font;
        color: $white;
        margin-bottom: 3rem;
        text-align: center;

        @media (width <= 430px) {
            font-size: 9.6rem;
            padding: 50px 40px 66px;
        }

        @media only screen 
        and (max-width: 450px) 
        and (min-height: 840px)
        and (-webkit-min-device-pixel-ratio: 2.2)
        and (orientation: portrait) {
            font-size: 9.6rem;
            padding: 50px 40px 66px;
        }
    }

    form {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid 1px $lines-color;
        padding: 7rem 6rem 5rem;

        @media (width <= 1024px) and (orientation: portrait) {
            border-left: 0;
            border-right: 0;
        }

        @media (width <= 430px) {
            border: 0;
            border-top: solid 1px $white;
            padding-top: 46px;
            padding-bottom: 80px;
            border-color: $white;;
        }

        @media only screen 
        and (max-width: 450px) 
        and (min-height: 840px)
        and (-webkit-min-device-pixel-ratio: 2.2)
        and (orientation: portrait) {
            border: 0;
            border-top: solid 1px $white;
            padding-top: 46px;
            padding-bottom: 80px;
            border-color: $white;
        }



    .form-label {
        width: 100%;
        margin-top: 10px;
        font-family: $secondary-font;
        color: $white;
        font-size: 2rem;
        text-align: left;

            @media (width <= 1024px) and (orientation: portrait) {
                font-size: 4rem;;
            }

            @media (width <= 430px) {
                font-size: 5rem;
            }

            @media only screen 
            and (max-width: 450px) 
            and (min-height: 840px)
            and (-webkit-min-device-pixel-ratio: 2.2)
            and (orientation: portrait) {
                font-size: 5rem;
            }
        }
        
        .input,
        .textarea {
        width: 100%;
        margin-top: 5px;
        padding: 10px;
        font-size: 1.6rem;
        background-color: transparent;
        border: solid 1px $lines-color;
        color: $white;

            @media (width <= 1024px) and (orientation: portrait) {
                font-size: 2rem;;
            }

            @media (width <= 430px) {
                border-color: $white;
            }

            @media only screen 
            and (max-width: 450px) 
            and (min-height: 840px)
            and (-webkit-min-device-pixel-ratio: 2.2)
            and (orientation: portrait) {
                border-color: $white;
            }

            &::placeholder {
                color: rgb(255 255 255 / 40%);
                }

            &:focus {
                outline: none;
                border: dashed 1px #00F2FF;
                }
                
            &.error {
                border: solid 1px #FF006F;
                color: #FF006F;
            }

        }

        .textarea {
            height: 26.9rem;

            @media (width <= 430px) {
                height: 150px;
            }

            @media only screen 
            and (max-width: 450px) 
            and (min-height: 840px)
            and (-webkit-min-device-pixel-ratio: 2.2)
            and (orientation: portrait) {
                height: 150px;
            }
        }

        .error-message {
            color: #FF006F;
            margin-top: 5px;
            font-family: $secondary-font;
            font-size: 1.2rem;

            @media (width <= 1024px) and (orientation: portrait) {
                font-size: 3rem;;
            }

            @media (width <= 430px) {
                font-size: 5rem;
            }

            @media only screen 
            and (max-width: 450px) 
            and (min-height: 840px)
            and (-webkit-min-device-pixel-ratio: 2.2)
            and (orientation: portrait) {
                font-size: 5rem;
            }
        }

        .form-group-container {
        display: flex;

            @media (width <= 430px) {
                width: 100%;
                flex-direction: column;
                align-items: center;
            }

            @media only screen 
                and (max-width: 450px) 
                and (min-height: 840px)
                and (-webkit-min-device-pixel-ratio: 2.2)
                and (orientation: portrait) {
                width: 100%;
                flex-direction: column;
                align-items: center;
            }

        .form-group {
            width: calc(33% - 6px);
            margin-right: 12px;

            &:last-child {
                margin-right: 0;
            }
            
                @media (width <= 430px) {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 36px;
                }

                @media only screen 
                and (max-width: 450px) 
                and (min-height: 840px)
                and (-webkit-min-device-pixel-ratio: 2.2)
                and (orientation: portrait) {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 36px;
                }
            }    
        }

        .submit-button {
        width: 27rem;
        margin-top: 2rem;
        padding: 10px;
        background-color: transparent;
        border: solid 1px $lines-color;
        cursor: pointer;
        color: $white;
        
            @media (width <= 430px) {
                margin-top: 60px;
                width: 270px;
                border-color: $white;

            @media only screen 
            and (max-width: 450px) 
            and (min-height: 840px)
            and (-webkit-min-device-pixel-ratio: 2.2)
            and (orientation: portrait) {
                margin-top: 60px;
                width: 270px;
                border-color: $white;
            }
        }
        
        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;

            &:hover {
                background-color: transparent;
                color: white;
                }
            }

        &:hover {
            background-color: $white;
            color: $primary-color;
            }
        }

        .close-button {
            position: absolute;
            top: 1.5rem; 
            right: 1.5rem;
            cursor: pointer;

            @media (width <= 430px) {
                top: 15px;
                right: 15px;
                }

                @media only screen 
                and (max-width: 450px) 
                and (min-height: 840px)
                and (-webkit-min-device-pixel-ratio: 2.2)
                and (orientation: portrait) {
                    top: 15px;
                    right: 15px;
                }
          }

        .success-message {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            text-align: center;
            padding: 0 22rem 2rem;
            color: white;

            @media (width <= 430px) {
                padding: 0 20px;
            }

            @media only screen 
            and (max-width: 450px) 
            and (min-height: 840px)
            and (-webkit-min-device-pixel-ratio: 2.2)
            and (orientation: portrait) {
                padding: 0 20px;
            }

            .form-sended-image {
                width: 15.6rem;
                height: 15.6rem;
                margin-bottom: 5rem;

                @media (width <= 430px) {
                    width: 110px;
                    height: 110px;
                    margin-bottom: 50px;
                }

                @media only screen 
                and (max-width: 450px) 
                and (min-height: 840px)
                and (-webkit-min-device-pixel-ratio: 2.2)
                and (orientation: portrait) {
                    width: 110px;
                    height: 110px;
                    margin-bottom: 50px;
                }
            }

            h3 {
                font-family: $secondary-font;
                color: $white;
                font-size: 6rem;
                margin-bottom: 3rem;
                line-height: 1.2;

                @media (width <= 1024px) and (orientation: portrait) {
                    font-size: 12rem;;
                }

                @media (width <= 430px) {
                    font-size: 15rem;
                    margin-bottom: 25px;
                }

                @media only screen 
                and (max-width: 450px) 
                and (min-height: 840px)
                and (-webkit-min-device-pixel-ratio: 2.2)
                and (orientation: portrait) {
                    font-size: 15rem;
                    margin-bottom: 25px;
                }
            }

            p {
                font-family: $secondary-font;
                color: $white;
                font-size: 2.2rem;

                @media (width <= 1024px) and (orientation: portrait) {
                    font-size: 4.4rem;;
                }

                @media (width <= 430px) {
                    font-size: 8rem;
                }

            @media only screen 
            and (max-width: 450px) 
            and (min-height: 840px)
            and (-webkit-min-device-pixel-ratio: 2.2)
            and (orientation: portrait) {
                    font-size: 8rem;
                }
            }
        }
    }

    .contact-info-slogan {
        display: none;

        .slogan {
            display: none;
        }

        .version {
            margin-bottom: 30px;
            color: $white;
        }

        @media (width <= 430px) {
            display: block;
        }

        @media only screen 
        and (max-width: 450px) 
        and (min-height: 840px)
        and (-webkit-min-device-pixel-ratio: 2.2)
        and (orientation: portrait) {
            display: block;
        }
    }

    .footer-links  {
        position: relative !important;
        width: 100% !important;
        bottom: auto !important;
        left: 0 !important;

        &:hover {
            cursor: none;
        }
    }
  }
  

  