.persons {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  top: 12rem;

  @media screen and (width <= 1024px) and (orientation: portrait) {
    position: absolute;
    width: 100%;
    height: 64vh;
    left: 0;
    top: auto;
  }

  @media screen and (width <= 390px) {
    top: 23.3px;
  }

  @media screen and (width <= 1024px) and (height <= 600px) {
    height: 70vh;
  }

  @media only screen 
    and (min-width: 1024px) 
    and (max-height: 1366px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 1.5) 
    and (-webkit-max-device-pixel-ratio: 2.2){
      position: absolute;
      width: 100%;
      height: 64vh;
      left: 0;
      top: auto;
    }
}

.robot {
  right: calc(50% - 1.6rem);
  top: 27rem;
  width: 51.4rem;
  height: auto;

  @media screen and (width <= 1024px) and (orientation: portrait) {
    animation: move-from-left 8s forwards ease-in;
    animation-delay: 3s;
    right: calc(50% - -46px);
    width: 292px;
    bottom: 22px;
  }

  @media screen and (width <= 853px)  {
    right: calc(50% + 41px);
    width: 231px;
    bottom: 13px;
  }

  @media screen and (width <= 768px)  {
    right: calc(50% + 42px);
    bottom: 10px;
  }

  @media screen and (width <= 540px) {
    right: calc(50% + 40px);
    width: 202px;
    bottom: 10px;
  }

  @media screen and (width <= 430px) {
    right: calc(50% + 30px);
    width: 160px;
    bottom: 7px;
  }

  @media screen and (width <= 390px) {
    right: calc(50% + 29px);
    width: 127.44px;
    height: auto;
    bottom: 7px;
  }

  @media only screen and (max-width: 824px) and (-webkit-min-device-pixel-ratio: 2.2) { 
      right: calc(50% + 30px);
      width: 160px;
      bottom: 7px;
    }

    @media only screen 
    and (min-width: 1024px) 
    and (max-height: 1366px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 1.5) 
    and (-webkit-max-device-pixel-ratio: 2.2){
      animation: move-from-left 8s forwards ease-in;
      animation-delay: 3s;
      right: calc(50% - -46px);
      width: 292px;
      bottom: 22px;
      top: auto;
    }
}

.woman {
  right: calc(50% - 29rem);
  top: 11.4rem;
  width: 41.4rem;
  height: auto;

  @media screen and (width <= 1024px) and (orientation: portrait) {
    animation: move-from-top 8s forwards ease-in;
    transform: translateY(0);
    animation-delay: 3s;
    right: calc(50% - 124px);
    width: 248px;
    bottom: 0.7px;
  }

  @media screen and (width <= 853px)  {
    right: calc(50% - 82px);
    width: 188px;
    bottom: 6px;
  }

  @media screen and (width <= 768px) {
    right: calc(50% - 79.75px);
  }

  @media screen and (width <= 540px) {
    right: calc(50% - 66px);
    width: 163px;
    bottom: 4px;
  }

  @media screen and (width <= 430px) {
    right: calc(50% - 59px);
    width: 130px;
    bottom: 0;
  }

  @media screen and (width <= 390px) {
    right: calc(50% - 40.2px);
    width: 102.72px;
    height: auto;
    bottom: 4px;
  }

  @media only screen and (max-width: 824px) and (-webkit-min-device-pixel-ratio: 2.2) { 
      right: calc(50% - 59px);
      width: 130px;
      bottom: 0;
    }

    @media only screen 
    and (min-width: 1024px) 
    and (max-height: 1366px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 1.5) 
    and (-webkit-max-device-pixel-ratio: 2.2){
      animation: move-from-top 8s forwards ease-in;
      transform: translateY(0);
      animation-delay: 3s;
      right: calc(50% - 124px);
      width: 248px;
      bottom: 0.7px;
      top: auto;
    }
}

.man {
  right: calc(50% - 69.8rem);
  top: 22rem;
  width: 54rem;
  height: auto;
  transform: translateX(0);

  @media screen and (width <= 1024px) and (orientation: portrait) {
    animation: move-from-right 8s forwards ease-in;
    transform: translateX(0);
    animation-delay: 3s;
    right: calc(50% - 359px);
    width: 319px;
    bottom: 0;
  }

  @media screen and (width <= 853px)  {
    right: calc(50% - 266px);
    width: 244px;
    bottom: 0;
  }
  
  @media screen and (width <= 768px) {
    right: calc(50% - 271px);
    width: 254px;
    bottom: -7px;
  }

  @media screen and (width <= 540px) {
    right: calc(50% - 227px);
    width: 212px;
    bottom: 0;
  }

  @media screen and (width <= 430px) {
    right: calc(50% - 187px);
    width: 174px;
    bottom: 0;
  }

  @media screen and (width <= 390px) {
    right: calc(50% - 142px);
    width: 132.12px;
    height: auto;
    bottom: 7px;
  }

  @media only screen and (max-width: 824px) and (-webkit-min-device-pixel-ratio: 2.2) { 
      right: calc(50% - 187px);
      width: 174px;
      bottom: 0;
    }

    @media only screen 
    and (min-width: 1024px) 
    and (max-height: 1366px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 1.5) 
    and (-webkit-max-device-pixel-ratio: 2.2){
      animation: move-from-right 8s forwards ease-in;
      transform: translateX(0);
      animation-delay: 3s;
      right: calc(50% - 359px);
      width: 319px;
      bottom: 0;
      top: auto;
    }
}

.persons-outline {
  right: calc(50% - (115.1rem / 2) - 12rem);
  top: 12rem;
  width: 118.34rem;
  height: auto;

  @media screen and (width <= 1024px) {
    width: 690.72px;
    right: calc(50% - 357.2px);
    top: 0;
    animation: fade-in 4s forwards ease-out;
    animation-delay: 5s;
    bottom: 0;

    &.finished {
      opacity: 1;
      animation: none;
    }
  }

  @media screen and (width <= 853px) {
    width: 534.72px;
    right: calc(50% - 265.2px);
  }

  @media screen and (width <= 540px) {
    right: calc(50% - 226px);
    width: 464px;
  }

  @media screen and (width <= 430px) {
    right: calc(50% - 183px);
    width: 368px;
  }

  @media screen and (width <= 390px) {
    right: calc(50% - 142.4px);
    width: 296px;
    height: auto;
  }

  @media screen and (width <= 1024px) and (height <= 600px) {
    width: 568px;
  }

  @media only screen and (max-width: 824px) and (-webkit-min-device-pixel-ratio: 2.2) { 
      right: calc(50% - 183px);
      width: 368px;
    }

    @media only screen 
    and (min-width: 1024px) 
    and (max-height: 1366px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 1.5) 
    and (-webkit-max-device-pixel-ratio: 2.2){
      width: 690.72px;
      right: calc(50% - 357.2px);
      top: 0;
      animation: fade-in 4s forwards ease-out;
      animation-delay: 5s;
      bottom: 0;
      top: auto;
    }
}

.person-image {
  position: absolute;
  z-index: 1;

  &.fixed {
    position: fixed;
  }

  @media screen and (width <= 1024px) and (orientation: portrait) {
    top: auto;
    opacity: 0;
    animation-iteration-count: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes move-from-top {
  0% {
    transform: translateY(-20vh);
    opacity: 0;
  }

  33% {
    transform: translateY(0);
    opacity: 1;
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes move-from-left {
  0% {
    transform: translateX(-50rem);
    opacity: 0;
  }

  33% {
    transform: translateX(0);
    opacity: 1;
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes move-from-right {
  0% {
    transform: translateX(50rem);
    opacity: 0;
  }

  33% {
    transform: translateX(0);
    opacity: 1;
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
