canvas {
    position: absolute;
    top: 5rem;
    left: calc(50% - 50rem);
    z-index: 0;
    width: 100rem;
    height: 50rem;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;

    @media screen and (width <= 1024px) and (orientation: portrait) {
        width: 180rem;
        height: 100rem;
        left: calc(50% - 90rem);        
        top: 40vh;  
        animation: fade-in-fade-out 7s forwards ease-out;
        animation-delay: 2s;
        
        @keyframes fade-in-fade-out {
            0% {
              opacity: 0;
            }

            33% {
              opacity: 0.7;
            }

            66% {
              opacity: 0.7;
            }

            100% {
              opacity: 0;
            }
          }
    }

    @media screen and (width <= 843px) {
      width: 600px;
      height: 400px;
      left: calc(50% - 600px / 2);
      top: 250px;
    }

    @media screen and (width <= 768px) {
      top: 230px;
    }

    @media screen and (width <= 430px) {
      display: none;
    }

    @media screen and (width = 540px) and (height = 720px) {
      width: 480px;
      height: 240px;
      top: 150px;
      left: calc(50% - 240px);
    }

    @media only screen 
    and (min-width: 1024px) 
    and (max-height: 1366px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 1.3) 
    and (-webkit-max-device-pixel-ratio: 2.2){
      width: 700px;
      height: 500px;
      top: 12vh;
      left: calc(50% - 250px);
  }
}